* {
  box-sizing: border-box;
  margin: 0;
  color: #2f4f4f;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.01em;

}

ul {
	list-style-type: none;
	
}

a {
  text-decoration: none;
}


/***** banner *****/
.banner {
	position: absolute;
	margin: 10px 0;
	z-index:1;
}

/***** sub nav *****/

.sub-nav {
	margin: 5px 0;
	height: 3vh;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.sub-link {
	padding: 10px 30px;
	color: #000;
}

.sub-link:hover {
	text-decoration: none;
	color: #FDC033;
}

/***** main nav-bar *****/
nav {
	height: 10vh;
	font-weight: 700;
}
.navbar-nav li {
	z-index: 2;
}

.navbar-brand {
	display: flex;
	align-items: center;
	padding: 0;
}

.navbar-brand p {
	color: #FDC033;
	padding-top: 15px;
	font-size: 1.4em;
}

.nav-item {
	margin-left: 10px;
}

.nav-link {
	padding: 10px 20px;
	font-size: 1.3em;
 	
}

/***** shelter *****/
.shelter{
	margin: 50px 0;
}
.title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.title h1{
	font-size: 1.4em;
	margin-right: 5px;
}

.title h2{
	font-size: 1.2em;
	
}

.shelter a{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	text-decoration: none;
}

.shelter a :hover {
	color: #FDC033;
}

.shelter p {
	padding: 10px 0;
	margin: 0;
	line-height: 1.2;
	text-align: center;
}

/***** memberJoin *****/
.join {
	text-align: center;
	margin: 40px 0;
}

.join strong {
	color: #FDC033;
}


.join-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ffdead;
	padding: 40px;  
	
}

.join-item h2 {
	text-align: center;
	font-size: 1.5em;
}

.join-item img {
	width: 300px;
}

.join-button {
	width: 300px;
	padding: 5px;
	margin-top: 20px; 
	background-color: #fff;
}

.b1 {
	border-color: #FDC033;
	color: #FDC033;
}

.b2 {
	border-color: #FB3A3B;
	color: #FB3A3B;
}


/***** memberJoinForm *****/
.join-title{
	text-align: center;
}

.p1 {
	width: 70%;
	margin: 10px auto;
	padding: 10px 0;
	border-bottom: 1px solid #ffdead;
}

.p1 p {
	font-size: 1em;
	margin: 10px 0;
}


/** pwcheck style **/
.idCheck0 {
	color: blue;
}
	
.idCheck1 {
	color: red;
}

/** 약관 **/

.panel-first {
	border-bottom: 1px solid #ffdead;
}

.panel-body {
	 text-align: center;
}


/** form input **/
.p2 {
	width: 70%;
	margin: 0 auto;
}

.form-group {
	display: flex;
	justify-content: space-between;
}


.form-group label{
	width: 30%;
}

.form-items {
	display: flex;
	justify-content: flex-start;
}

.address-items input {
	margin-bottom: 10px;
}

.text{
	width: 600px;
}

.member-jb {
	display: flex;
	justify-content: center;
}

.member-jb input {
	box-sizing: border-box;
	border-style: none;
	color: #fff;
	padding: 10px 30px;
	margin-right: 20px;
}

#member-jb1 {
	background-color: #FDC033;
}

#member-jb2 {
	background-color: #FDAF33;
}

.chk {
	margin-right: 10px;
}


.emptyResult {
	display: none;
}

/***** memberLogin *****/
.member-form {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 20px;
	
}

/***** goods *****/
.goods-nav {
	text-align: center;
}

.goods-nav ul {
	margin: 0 auto;
}

.goods-nav-item a{
	width: 150px;
	padding: 15px 22px;
	text-align: center;
	font-size: 1.1em;
	letter-spacing: -0.03em;
	font-weight: 300;
	color: #000;
}

.goods-nav-item a:hover{
	font-weight: 400;
	color: #FDC033;
}

.goods {
	width: 250px;
	height: 430px;
}

.goods a {
	text-decoration: none;
}

.goods img{
	width: 250px;
	margin-right: 15px;
	border: 1px #F0F0F0 solid;
}

.goods img:hover {
	opacity: 0.7;
}

.goods-name {
	margin-top: 10px;
	text-align: center;
	font-size: 0.9em;
	font-weight: 500;
	width: 250px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.goods-name:hover {
	color: #FDC033;
}

.goods-info dd {
	width: 250px;
	height: 50px;
	font-size: 0.7em;
	color: #B4B4B4;
}

/***** goodsSelect *****/
.goods-detail1 img{
	width: 500px;
	height: 500px;
	border: 1px #F0F0F0 solid;
}


.goods-detail2 {
	border-top: 2px #000 solid;
	border-bottom: 2px #000 solid;
}

.goods-sname {
	font-size: 1.3em;
	padding: 30px 0;
}

.goods-items th {
	padding: 10px 0;
}

.goods-items th,td{
	font-size: 1.1em;
	letter-spacing: 0.02em;	
	color: #B4B4B4;
	font-weight: 300;
}

.goods-detail3{
	display: flex;
	justify-content: space-between;
}

.goods-detail3 button{
	padding: 10px 90px;
	margin: 5px 0;
	border-style: none;
}

.goods-detail3 .b1{
	background-color: #FDC033;
	color: #fff;
}

.goods-detail3 .b2{
	background-color: #FDAF33;
	color: #fff;
}

/***** mypage nav *****/
.myPage h1 {
	font-size: 1.3em;
	font-weight: 700;
	margin-bottom: 10px;
}

.myPage h2 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.myPage-item {
	margin-bottom: 40px;
}

.myPage-item li{
	padding: 5px 0;
}

.myPage-item a{
	text-decoration: none;
	font-size: 0.9em;
	font-weight: 300;
	letter-spacing: -0.03em;	
}

.member-info h1 {
	font-size: 1.3em;
	font-weight: 700;
	margin-bottom: 10px;
}

.member-info h2 {
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 20px;
}

.member-item table {
	width: 800px;
	border-top: 1px #000 solid;
}

.member-item tr {
	border-bottom: 1px #ABABAB solid;
}

.member-item th {
	width: 250px;
	background-color: #FBFBFB;
	padding: 10px 80px 10px 15px; 
	font-size: 0.8em;
	font-weight: 400;
}

.member-item td {
	font-size: 0.8em;
	font-weight: 400;
}


/***** Board *****/
.tb-list td {
	border-bottom: 1px #8C8C8C solid;
	font-size: 0.9em;
	color: #7A7A7A;
}	

.tb-list a{
	text-decoration: none;
	color: #444;
	font-weight: 500;
}

