<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ph4.s1.lostFile.LostFileDAO">
	
	<insert id="setInsert" parameterType="LostFileDTO">
		insert into lostFile values (#{num}, #{fileName}, #{oriName})
	</insert>
	
	<select id="getFiles" parameterType="LostDTO" resultType="LostFileDTO">
		select * from lostFile where num = #{num}
	</select>
	
	<delete id="setDelete" parameterType="LostDTO">
		delete from lostFile where num = #{num}
	</delete>
	
	<select id="getCount" parameterType="LostDTO" resultType="Long">
		select count(num) from lostFile where num = #{num}
	</select>
	
	<select id="getMain" parameterType="LostDTO" resultType="LostFileDTO">
    	select distinct fileName from lostFile where num = #{num} 
    </select>
</mapper>
