<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ph4.s1.voluntary.reserve.VoluntaryReserveDAO">

	<insert id="setResInsert" parameterType="VoluntaryReserveDTO">
		insert into reserveVoluntary 
		values(RV_SEQ.nextval, #{num}, #{resDate}, #{startTime}, #{endTime},#{id})
	</insert>
	
	<select id="getResList" parameterType="VoluntaryReserveDTO" resultType="VoluntaryReserveDTO">
		select * from reserveVoluntary where num = #{num}
	</select>
	
	<select id="getResOne" parameterType="VoluntaryReserveDTO" resultType="VoluntaryReserveDTO">
		select * from reservevoluntary where resNum = #{resNum}
	</select>
	
	<delete id="setResDel" parameterType="VoluntaryReserveDTO">
		delete reservevoluntary where resNum = #{resNum}
	</delete>
</mapper>    